@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Store Management </h1>
    <p>In this ASP.NET application, I implemented CRUD operations using ASP.NET MVC and Entity Framework. 
        Please browse through the links in the header to get better understanding of the functionality.
    </p>
</div>