@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Store Management </h1>
    <p>In this ASP.NET application, I implemented CRUD operations using ASP.NET MVC and Entity Framework. 
        Please browse through the links in the header to get better understanding of the functionality.
    </p>
    <p class="lead">ASP.NET is a free web framework for building great web sites and web applications using HTML, CSS and JavaScript.</p>
    <p>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.
    </p>
</div>